# Image and container info
BIREME_SOLR_IMAGE_NAME=bireme/solr:9
CONTAINER_NAME=solr9-port9
CONTAINER_PORT=8989

# Set user id and group to match local host user and group and avoid permission problems
USER_GROUP_IDS=1005:1005

# Path to solr indexes
IAHX_INDEX_PATH=/home/iahx-server/indexes/solr9

# Solr environment parameters
SOLR_JAVA_MEM="-Xms8g -Xmx8g"
